@import '../../scss/variables.scss';

.root {
  display: flex;
  flex-direction: column;
  width: 350px;
  border-right: 1px solid $borderClr;
  position: fixed;
  transition: transform 0.5s;
  height: 100%;
  background: $generalBg;

  .home,
  .apply,
  .activeCourses,
  .createCourse,
  .calendar {
    display: flex;
    gap: 40px;
    padding: 14px 20px;
    align-items: center;

    &:hover {
      background: $generalBgHover;
    }
  }
}

.home {
  margin-top: 15px;
}

.settings {
  border-top: 1px solid $borderClr;
  display: flex;
  gap: 40px;
  padding: 14px 20px;
  align-items: center;

  &:hover {
    background: $generalBgHover;
  }
}

.active {
  background: $generalBgHover;
}

@media (max-width: 768px) {
  .root {
    width: 100%;
  }
}
