@import '../../scss/variables.scss';

.coupleCard {
  padding: 12px;
  border-radius: 5px;
  background: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  margin-bottom: 8px;
  border-left: 5px solid $borderClr;
}

.coupleHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  font-size: 13px;
}

.coupleType {
  font-weight: 600;
}

.coupleNumber {
  color: $secondTextClr;
}

.coupleName {
  font-weight: 500;
  margin-bottom: 8px;
  font-size: 15px;
  line-height: 1.3;
}

.coupleDetails {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  color: $secondTextClr;
}

/* Стили для разных типов пар */
.лекция {
  border-left-color: $lecture;

  .coupleType {
    color: $lecture;
  }
}

.практика {
  border-left-color: $practice;

  .coupleType {
    color: $practice;
  }
}

/* Адаптация для мобильных */
@media (max-width: 576px) {
  .coupleCard {
    padding: 10px;
  }

  .coupleName {
    font-size: 14px;
  }
}
