@import '../../scss/variables.scss';

.root {
  padding: 10px;
  background: $elemBg;
  border: 1px solid $borderClr;
  border-radius: 10px;
  width: 220px;
  transition: 0.5s;
}

.title {
  color: $contrastTextClr;
  padding-bottom: 8px;
  border-bottom: 1px solid $contrastTextClr;
  font-weight: bold;
}

.details {
  background: $generalBg;
  border: 1px solid $borderClr;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 10px;

  .detailsEl {
    display: flex;
    justify-content: space-between;
  }
}
