@import '../../scss/variables.scss';

.root {
  display: flex;
  justify-content: space-between;
  background: $generalBg;
  border-bottom: 1px solid $borderClr;
  padding: 20px;
  align-items: center;
  position: sticky;
  top: 0;
  width: 100%;
  height: 70px;
  z-index: 1000;
  box-sizing: border-box;
}

.leftBlock {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;

  .logoImg {
    width: 30px;
    margin: 0 15px 0 40px;
  }
}

.menu {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.menuItem {
  width: 30px;
  height: 30px;
}

.ava {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}
