@import './variables.scss';

.App {
  a {
    text-decoration: none;
  }

  font-family: 'Mulish', sans-serif;
}

* {
  font-family: Nunito, sans-serif;
  font-size: 18px;
  color: $textColor;
}

.icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

body {
  background: $generalBg;
}

.blockSvg {
  width: 30px;
  height: 30px;
}

.layout {
  position: relative;
}
