.root {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  transition: margin-left 0.5s, width 0.5s;
  padding: 15px 20px;
  box-sizing: border-box;
  gap: 30px;
}

.stats {
  display: flex;
  gap: 30px;
  width: 100%;
  transition: opacity 0.5s; /* Пример транзиции для другого свойства */
}
