$generalBg: #f8faff;
$generalBgHover: #eeeff4;

$primaryTextClr: #333333;
$textColor: #333333;
$secondTextClr: #6c757d;
$contrastTextClr: #f25a79;

$elemBg: #fcfdff;

$btnColor: #f7234c;

$borderClr: #ced4da;

$lecture: #fa0;
$practice: #00cc73;
